<div class='app'>
    <header class='app-header'>
        Acme, Inc.
    </header>

    <main class='app-main'>
        <section class='side-panel'>
            <LinkTo @route="dashboard">
                Dashboard
            </LinkTo>
            <LinkTo @route="posts">
                Blog posts
            </LinkTo>
            <LinkTo @route="tags">
                Tags
            </LinkTo>
            <LinkTo @route="media">
                Media
            </LinkTo>
        </section>

        <section class='center-panel'>
            {{outlet}}
        </section>
    </main>
</div>
